.motion_modal {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background: rgba($color: #a9a9a9, $alpha: 0.44);
  display: flex;
  justify-content: center;
  align-items: flex-end;
  z-index: 199;

  .motion_modal_wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: flex-end;
  }

  .motion_modal_body {
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--bg_modal);
    width: 100%;
    height: 200px;
    font-size: 4vmin;
    border-radius: 14px 14px 0 0;
    box-shadow: 1px 10px 10px -4px rgba(0, 0, 0, 0.1);
  }
}
