@import "Typography.mixin";

.h1 {
  @include h1;
}

.h2 {
  @include h2;
}

.h3 {
  @include h3;
}

.h4 {
  @include h4;
}

.h5 {
  @include h5;
}

.body1 {
  @include body1;
}

.body2 {
  @include body2;
}

.caption {
  @include caption;
}

.light {
  @include light;
}

.thin {
  @include thin;
}

.regular {
  @include regular;
}

.medium {
  @include medium;
}

.bold {
  @include bold;
}

.primary {
  color: var(--primary);
}

.default {
  color: var(--major-text);
}

.caption {
  color: var(--caption-text);
}

.white {
  color: var(--white);
}
