{
  "root": true,
  "plugins": [
    "react",
    "tailwindcss",
    "@typescript-eslint"
  ],
  "extends": [
//    "plugin:react/recommended",
//    "plugin:tailwindcss/recommended",
//    "plugin:prettier/recommended",
//    "plugin:@typescript-eslint/recommended"
  ],
  "parser": "@typescript-eslint/parser",
  "rules": {
    "tailwindcss/classname-order": "off",
    "react/react-in-jsx-scope": "off",
    "react/no-unescaped-entities": "off"
  }
}
