{
  "tabWidth": 2,
  "useTabs": false,
  "semi": true,
  "singleQuote": true,
  "trailingComma": "all",
  "bracketSpacing": false,
  "parser": "typescript",
  "arrowParens": "always",
  "tailwindConfig": "./tailwind.config.js"
}
